

    <div class=" py-1 h-75">
      <div class="row d-flex justify-content-center align-items-center h-75 w-100  ms-auto me-auto">
        <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
          <div class="card shadow-2-strong border-3" style="border-radius: 1rem;">

            <div class="row d-flex m-2 ms-0 me-0 pt-3 pb-2" style="top: 65px; position: sticky; z-index: 2;
            transition: top 150ms ease; background: white; border-bottom: 1px solid rgb(180, 180, 180);"> 
              <div class="col-6 text-start punteroBoton" [routerLink]="['/public-profile', anuncioDetalle.autorAnuncio?.id]">
                <span class=" position-absolute">
                  <img *ngIf="anuncioDetalle.autorAnuncio?.fotoPerfil" class="img-fluid rounded-circle p-1" style="width: 45px; height: 45px; margin-top: -5px;" src={{getImage(anuncioDetalle.autorAnuncio?.fotoPerfil!)}} draggable="false">
                  <img *ngIf="!anuncioDetalle.autorAnuncio?.fotoPerfil"  class="img-fluid rounded-circle p-1" style="width: 45px; height: 45px; margin-top: -5px;" src="assets/img/profileDefault.png" draggable="false">
                </span>
                
                
                  <h5 class="card-title d-flex w-50 d-inline-block ms-5 ps-2" style="margin-top: -5px;">{{anuncioDetalle.autorAnuncio?.nombre?.charAt(0)?.toUpperCase()}}{{anuncioDetalle.autorAnuncio?.nombre?.slice(1)}} {{anuncioDetalle.autorAnuncio?.apellidos?.charAt(0)?.toUpperCase()}}</h5>

                
                <div class="position-absolute ms-5 ps-2" style="margin-top: -10px; margin-left: 0px;">
                  <p-rating ngModel="{{anuncioDetalle.autorAnuncio?.puntuacionMedia}}" [cancel]="false" [readonly]="true"></p-rating>
                  <span class="position-absolute" style="margin-top: -25px; margin-left: 130px; color: rgb(90, 90, 90);">({{anuncioDetalle.autorAnuncio?.numeroValoraciones}})</span>
                  
                </div>
              </div>
              <div class="col-6" *ngIf="anuncioDetalle.finalizado == false && anuncioDetalle.autorAnuncio?.email != usuarioRegistrado.email">
                <a (click)="solicitarCurritoComprobacion(anuncioDetalle)" class="btn btn-primary col-12">Solicitar Currito</a>
              </div>
              <div class="col-6" *ngIf="anuncioDetalle.finalizado == true && anuncioDetalle.autorAnuncio?.email != usuarioRegistrado.email">
                <button disabled  class="btn btn-primary col-12">Ya ha sido realizado</button>
              </div>
              <div class="col-6" *ngIf="anuncioDetalle.autorAnuncio?.email == usuarioRegistrado.email">
                <a [routerLink]="['/profile/misCurritos']" class="btn btn-primary col-12">Editar anuncio</a>
              </div>
            </div>

            <!-- Inicio Carrusel -->

            <div class=" card-img-top pe-3">
             
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                       <img class="d-block ms-auto m-auto" *ngIf="getImage(anuncioDetalle.file!)== null"
                       src="assets/img/default.png"  style="max-height: 400px;" draggable="false" alt="Imagen no disponible">

                        <img class="d-block m-auto" *ngIf="getImage(anuncioDetalle.file!)!= null" src={{getImage(anuncioDetalle.file!)}} draggable="false" style="max-height: 400px;" alt="Imagen no disponible">
                      </div>
                     
                  </div>

            <!-- Fin Carrusel -->

            <div class="card-body p-5 text-center row ">
              <div class="col-9 text-start">
                <h5 class="card-title letraResponsiva">{{anuncioDetalle.titulo}}</h5>

              </div>
              <div class="col-3">
                <p class="letraResponsiva"><strong>{{anuncioDetalle.precio}} €</strong></p>

              </div>
              <div>
                <p class="text-justify letraResponsivaDescripcion " style="text-align: justify;">{{anuncioDetalle.descripcion}}</p>

              </div>
              <div>
                <p class="card-text letraResponsivaTipoPrecio text-end mb-3 mt-3">{{anuncioDetalle.fechaAnuncio?.toString()?.slice(0,10)}}</p>
              </div>
              <!-- <div class="col-6 text-start">
                <h5 class="card-title letraResponsivaDescripcion">Javier Campos</h5>

              </div> -->
              <div class="col-12 me-0">
                <p class="w-100 text-end letraResponsivaUbicacion me-0"><i class="bi bi-geo-alt-fill"></i>{{anuncioDetalle.ubicacion}}</p>

              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
 

   <!-- Este es el mensaje cuando se clickea el boton de borrar anuncio -->
   <p-toast position="bottom-center" ></p-toast>
    
  
  
  
  
  
  