
    <!-- <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link" type="button" [routerLink]="['/profile/notification/chats']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Mensajes</button>
        <button class="nav-link" type="button" [routerLink]="['/profile/notification']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Notificaciones</button>
       </div>
    </nav> -->

    <!-- <div class="tab-content mt-3" id="nav-tabContent"> -->
      <div class="col-12">
      <h2 class="pt-5 mb-0 mb-3 ms-5">Notificaciones</h2>
      <app-notification></app-notification>
    </div>
