<div class="m-5 rounded-3 shadow p-3 mb-5 bg-body"
  style="border: 1px solid lightblue;">
  <form autocomplete="off" [formGroup]="miFormularioDatosPerfil" (ngSubmit)="submitFormulario()" class="row g-3 p-3">

    <h3 class="gray5 p-3 text-center">Actualiza tus datos
      {{usuarioRegistrado.nombre?.charAt(0)?.toUpperCase()}}{{usuarioRegistrado.nombre?.slice(1)}}
      {{usuarioRegistrado.apellidos?.charAt(0)?.toUpperCase()}}</h3>
    <hr class="p-1" style="color: lightblue;">
    <div class="row">
      <h4 class="gray6 text-start col-6">Datos del perfil:</h4>
      <a [routerLink]="['/public-profile', usuarioRegistrado.id]" class="col-6 fst-italic text-end" style="text-decoration: none;">Ver perfil público</a>

    </div>
    <!-- Nombre -->
    <div class="col-md-4">
      <label for="nombre" class="form-label ms-2">Nombre:</label>
      <input type="text" class="form-control" formControlName="nombre" maxlength="15">
      <span class="form-text text-danger" *ngIf="campoNoValido('nombre')">
        Sólo letras
      </span>
    </div>

    <!-- Apellidos -->
    <div class="col-md-8">
      <label for="apellidos" class="form-label ms-2">Apellidos:</label>
      <input type="text" class="form-control" formControlName="apellidos" maxlength="25">
      <span class="form-text text-danger" *ngIf="campoNoValido('apellidos')">
        Sólo letras
      </span>
    </div>

    <!-- Email -->
    <div class="col-md-8">
      <label for="email" class="form-label ms-2">Correo electrónico:</label>
      <input type="email" class="form-control" value="{{usuarioRegistrado.email}}" readonly>

    </div>

    <!-- Telefono -->
    <div class="col-md-4">
      <label for="telefono" class="form-label ms-2">Teléfono:</label>
      <input type="text" class="form-control" formControlName="telefono" maxlength="9">
      <span class="form-text text-danger" *ngIf="campoNoValido('telefono')">
        Deben ser 9 dígitos.
      </span>
    </div>

    <!-- Direcccion -->
    <div class="col-md-12 text-start">
      
      <label for="inputEmail4" class="form-label ms-2">Ubicación</label>
      <select class="form-select" formControlName="ubicacion" name="select"
        [(ngModel)]="usuarioRegistrado.ubicacion">
        <option *ngFor="let provincia of listaProvincias" value={{provincia.nm}}>{{provincia.nm}}</option>
      </select>
    </div>

    <!-- Nacimiento -->
    <!-- <div class="col-md-4 text-start">
            <label for="inputPassword4" class="form-label ms-2">Nacimiento</label>
            <input type="date" class="form-control" formControlName="nacimiento">
    </div> -->

    <div class="col-md-12 row">
      <label class="form-label mt-3 text-center gray5 pt-3">Selecciona nueva foto de perfil</label>
      <div class="image-upload text-center" style="overflow: hidden;">
        <!-- <label for="file-input">
          <i class="bi bi-image navy" alt="Click aquí para subir tu foto" title="Click aquí para subir tu foto"></i>
        </label> -->
        <input id="file-input" type="file" (change)="selectFile($event)" accept="image/*"/>
        <img *ngIf="previsualizarImagen==''" class="img-fluid rounded-circle p-5 text-center" style="height: 250px; width: 250px;"
        src="../../../assets/img/profileDefault.png" alt="foto de perfil" draggable="false">
        <img *ngIf="previsualizarImagen!=''" class="img-fluid rounded-circle p-5 text-center" style="height: 250px; width: 250px;"
          src={{previsualizarImagen}} alt="foto de perfil" draggable="false">
      </div>


    </div>

    <div class="w-100 text-center">
      <input type="submit" class="btn rounded-3  navyBg text-white ps-5 pe-5" value="Guardar"
        [disabled]="!miFormularioDatosPerfil.valid">
    </div>
  </form>


  <hr class="p-1" style="color: lightblue;">


  <form autocomplete="off" [formGroup]="miFormularioDatosPass" (ngSubmit)="submitFormularioPass()"
    class="row g-3 p-3 gray5 rounded-3">
    <h4 class="gray6 text-start">Datos de seguridad:</h4>
    <!-- Password antigua-->
    <div class="row">
      <div class="col-md-6">
        <label for="passwordOld" class="form-label ms-2">Contraseña actual:</label>
        <input type="password" class="form-control" formControlName="passwordOld" placeholder="Contraseña">

      </div>
    </div>

    <!-- Password -->
    <div class="row">
      <div class="col-md-6">
        <label for="passwordNew" class="form-label ms-2">Contraseña nueva:</label>
        <input type="password" class="form-control" formControlName="passwordNew" placeholder="Contraseña">
        <span class="form-text text-danger" *ngIf="campoNoValidoPass('passwordNew')">
          La contraseña debe de ser mayor de 6 caracteres.
        </span>
      </div>

      <!-- Password2 -->
      <div class="col-md-6">
        <label for="passwordNew2" class="form-label ms-2">Repite contraseña:</label>
        <input type="password" class="form-control" formControlName="passwordNew2" placeholder="Confirma contraseña">
        <span class="form-text text-danger" *ngIf="campoNoValidoPass('passwordNew2')">
          Las contraseñas deben de ser iguales
        </span>
      </div>
    </div>

    <div class="w-100 text-center">
      <input type="submit" class="btn rounded-3 ps-5 pe-5 navyBg text-white" value="Guardar">
    </div>

  </form>





 <!-- Este es el mensaje cuando se realiza alguna acción -->
 <p-toast position="bottom-center" ></p-toast>

</div>
